/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.nav-footer .pullstate-logo {
    display: block;
    margin: 1em auto;
    opacity: 0.4;
    transition: opacity 0.15s ease-in-out;
    width: 210px;
    height: 141px;
}

.nav-footer .pullstate-logo:hover {
    opacity: 1;
}

.navPusher {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(100vh - 50px);
}

.homeContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}